.trans{
    transition:width 1s, height 1s, border-radius 1s,opacity 1s;
    -moz-transition:width 1s, height 1s, -moz-transform 1s, -moz-border-radius 1s, -moz-opacity 1s; /* Firefox 4 */
    -webkit-transition:width 1s, height 1s, -webkit-transform 1s,-webkit-border-radius 1s,-webkit-opacity 1s; /* Safari and Chrome */
    -o-transition:width 1s, height 1s, -o-transform 1s,-o-border-radius 1s,-o-opacity 1s; /* Opera */
}
.move{
    transition:bottom 1s,top 1s;
    -moz-transition:bottom 1s,top 1s; /* Firefox 4 */
    -webkit-transition:bottom 1s,top 1s; /* Safari and Chrome */
    -o-transition:bottom 1s,top 1s; /* Opera */
}
